/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #434c55;
  padding-top: 6rem;
  margin-bottom: 5rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 900;
}

li {
  list-style: none;
}

/* SPLASH SCREEN */
.home_cont {
  background-color: #03476e;
  height: 100vh;
  background-image: url("bg.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#splashlogo {
  width: 290px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.regbtns {
  display: block;
  background-color: #60b524;
  color: #fff;
  text-align: center;
  width: 30%;
  margin-bottom: 5vh;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border-radius: 2rem;
  text-decoration: none;
  font-weight: 500;
}

.regbtns:hover {
  opacity: 0.8;
}

/* FORMS */
.forms {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  margin-top: -1rem;
  margin-bottom: 4rem;
  background-color: #3878c2;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  padding: 2rem 3rem;
  font-size: 1rem;
  color: #fff;
  font-weight: 700;
  padding-top: 3rem;
  gap: 10px;
}

.forms form {
  width: 80%;
  padding-bottom: 2rem;
}

.field {
  margin-bottom: 1rem;
}

input[type="submit"] {
  background-color: #60b524;
  padding: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  width: 100%;
  color: #fff;
  font-size: 1.2rem;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  outline: none;
  width: 100%;
  height: 1.5rem;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
}

.forms a {
  color: #fff;
}

.forgotpwd {
  opacity: 0.5;
}

.reglogo {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.reglogo_cont {
  display: flex;
  justify-content: center;
}

/* TOP BAR */
.topbar {
  display: flex;
  background-color: rgb(50, 107, 174);
  padding: 1rem;
  justify-content: space-between;
  color: #fff;
  text-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.signout_icon {
  background-color: rgb(50, 107, 174);
  border: none;
  color: #fff;
  font-size: 3rem;
  text-decoration: none;
  font-weight: 700;
}

.back_icon {
  font-size: 2rem;
}

.topbar_text {
  font-size: 1.5rem;
  text-transform: uppercase;
}

/* CATEGORIES */
.acctbal {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 20vh;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #434c55;
}

.transactions_cont {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.transactions {
  display: flex;
  border-radius: 1px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  height: 5rem;
  width: 95%;
  margin: auto;
  margin-bottom: 0.8rem;
}

.icon {
  width: 20%;
  background-color: #3878c211;
  font-size: 2.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottombar {
  display: flex;
  background-color: #60b524;
  padding: 1rem;
  color: #fff;
  text-align: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
}

.categ_transcation {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.8rem;
  gap: 10px;
}

.bottombar_text {
  text-align: center;
  text-decoration: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 0.5rem;
  width: 90%;
  text-transform: uppercase;
  margin-bottom: 0;
}

.categtransact_name {
  font-size: 1.3rem;
  color: #434c55;
  font-weight: 900;
  text-decoration: none;
}

.categtransact_edit_del_cont {
  display: flex;
  flex-direction: row;
  gap: 9px;
  font-size: 0.8rem;
}

.transc_edit {
  font-style: italic;
  color: #434c5577;
  text-decoration: none;
}

.transc_edit:hover {
  text-decoration: underline;
}

.removebtnfeature {
  border: none;
  background-color: #03476e00;
}

.transact_amount {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  width: 20px;
  text-align: center;
}

.transact_nametag {
  color: #60b524;
  font-weight: 300;
  padding-left: 10px;
}

.pophide {
  display: none;
}

/* NOTICE AND ALERTS */
.popups {
  position: fixed;
  top: 10rem;
  left: 15%;
  right: 15%;
  bottom: 15%;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 3rem;
  background-color: #fff;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.closenotification {
  font-size: 1rem;
  border: 1px solid #434c55a9;
  border-radius: 5%;
  padding: 0.5rem 1rem;
}

.noticeicon {
  border-radius: 100%;
  background-color: #60b524;
  padding: 1rem;
  color: #fff;
}

/* BALANCE AND INCOME */
.balance {
  font-size: 2rem;
}

.income_expend {
  font-size: 0.8rem;
  color: #3878c2;
}

/* MENU */
.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 20%;
  background-color: #03476e;
  z-index: 2;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 5vh;
}

.close_icon_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2px;
}

.close_icon {
  font-size: 2rem;
}

.close_icon_text {
  font-size: 0.8rem;
  padding-top: 1vh;
}

.menulinks {
  color: #fff;
  display: block;
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 1vh;
  margin-top: 2vh;
  text-decoration: none;
  background-color: #03476e;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.menulinks button {
  color: #fff;
}

/* DESKTOP STYLES */
@media only screen and (min-width: 720px) {
  h2 {
    font-size: 2rem;
    text-align: center;
  }

  #splashlogo {
    width: 550px;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
  }

  .regbtns {
    width: 20%;
    margin: 0;
  }

  .regbtns_cont {
    display: flex;
    justify-content: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
  }

  .forms {
    font-size: 1.2rem;
    width: 50%;
    margin: auto;
    margin-bottom: 1.5rem;
    margin-top: -1rem;
    padding: 1rem 0;
    padding-top: 3rem;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"] {
    width: 100%;
    height: 1.6rem;
  }

  .transact_nametag {
    padding-left: 2rem;
  }

  .menu {
    padding-bottom: 15vh;
    overflow-y: scroll;
  }
}
